<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="appEau" connectionString="Server=.;Database=appEau;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="SFE.Properties.Settings.appEauConnectionString" connectionString="Data Source=.;Initial Catalog=appEau;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>